html
    head 
        title #{book.title}
        link(rel='stylesheet' href='/styles.css')
    body
        include ./partials/header.pug
        br
        |Title: #{book.title}
        br
        |Author: #{book.author}
        br
        |Price: $#{book.price}
        br
        |Page Count: #{book.numPages}
        br
        |In Stock: #{book.stock}
        br
        |Published by: 
        each publisher in publishers
            br
            a(href="/publishers/"+publisher.name) #{publisher.name}
        br
        |Genres include:
        ul
            each genre in genres
                | #{genre.genre},
        if user.owner
            button(type='button' id=book.isbn onclick='removeFromStore(this.id)') Remove
        else
            button(type='button' id=book.isbn onclick='addToCart(this.id)') Add to Cart
    script(src="/js/query.js")