html
    head 
        title #{publisher.name}
        link(rel='stylesheet' href='/styles.css')
    body
        include ./partials/header.pug
        br
        |Name: #{publisher.name}
        br
        |Address: #{publisher.address}
        br
        |Email: #{publisher.email}
        br
        |Bank Account: #{publisher.bankAccountNum}
        br
        |Phone Numbers:
        each number in phoneNums
            p #{number.phoneNum}
        |Publishes:
        ul
        each publish in publishes
            a(href="/books/"+publish.isbn) #{publish.title}