html
    head 
        title Sales
        link(rel='stylesheet' href='/styles.css')
    body
        include ./partials/header.pug
        br
        |Income: $#{sales.income}
        br
        |Expenditure: $#{sales.expenses}
        br
        br
        |Sales Per Genre:
        br
        - let keys = Object.keys(sales.genres);
        for k of keys
            |#{k}: $#{sales.genres[k]}
            br
        br
        |Sales By Author:
        br
        - let authors = Object.keys(sales.authors);
            for k of authors
                |#{k}: $#{sales.authors[k]}
                br
        br
        br
        |Sales Vs. Expenditures over the past month
        br
        |Income: $#{sales.lastMonthIncome}
        br
        |Expenses $#{sales.lastMonthExpenses}